  body {
    font-family: Arial, sans-serif;
    background-color: rgba(22, 28, 36, 1);
    color: #ffffff;
    margin: 0;
    padding: 0;
  }
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
  }
  .search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .date-input {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  .date-input input::-webkit-calendar-picker-indicator {
    background-position: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    color: #fff;
    color-scheme: dark;
  }
  .date-input i {
    position: absolute;
    left: 10px;
    color: #888;
  }
  .date-input input {
    padding: 10px 10px 10px 15px;
    width: 200px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: #3a3b3d;
    color: #ffffff;
  }
  .search-bar button {
    padding: 10px;
    border: none;
    background-color: #ff6700;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  .search-bar button:hover {
    background-color: #e65d00;
  }
  .news-list {
    overflow-y: auto; /* Desplazamiento vertical */
    padding-right: 10px; /* Espacio para el scroll */
    margin-top: 50px;
  }
  .news-item {
    display: flex;
    margin-bottom: 40px;
    background-color: rgba(33, 43, 54, 1);
    border-radius: 8px;
    overflow: hidden;
  }
  .news-item img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    /*object-position: center;*/
    border-radius: 8px 0 0 8px; /* Redondeo solo del lado izquierdo */
  }
  .news-content {
    margin-left: 10px;
    flex-grow: 1;
    padding: 20px;
  }
  .news-content h2 {
    margin: 0;
    font-size: 1.5em;
    color: #ffffff;
  }
  .news-content p {
    margin: 10px 0;
    color: #919EAB;
  }
  .news-date{
    font-size: 0.9em;
    color: #888;
  }
  p.news-source {
    font-size: 0.9em;
    color: #fff;
    position: relative;
  }
